
  .toggle:checked ~ #alcohol-select {
	 display: none;
	// transition:200ms ease;
	//    position:absolute;
 //    top:36px;
 //    z-index:0;
 //    visibility:hidden;
  }

.toggle {
    display: none;
  }

  .toggle:checked + #alcohol-select {
    left: 0;  /*this will bring the nav back on screen when its clicked*/
    // transition: all 0.5s ease;
    // position:absolute;
    // top:36px;
    // z-index:0;
    // visibility:hidden;
  }

.alcoholChoices {
	width: 70%;
	background-color: white;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.alcohol-select {
	width: 100%;
	margin-left: 2%;
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}

.menu {
	text-align: center;
}

.menu, .choice a {
	font-family: 'Kadwa', serif;
	color: $dkorange;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.choice {
	width: 100%;
		a {
			text-decoration: none;
			font-weight: 700;
		}
		a:hover {
			color: white;
			background-color: $mainGreen;
			border-radius: 5px;
			padding: 2% 4%;
		}
}

@media (max-width: 1066px) {

	.choice {
		width: 80%;
		padding: 2%;
	}

	.choice a {
		font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
	}
}

@media (max-width: 940px) {


}

@media (max-width: 768px) { 

	.choice a {
		font-size: 26px;
	}

	.hide {
		display: none;
	}

	.menu {
		padding: 3%;
	}

	.menuLable {
		padding: 3%;
		margin: 3% 0;
	}
}