
$seablue: #00659D;
$turquoise: rgba(0, 171, 188, 0.85);
$header: rgb(0, 171, 188);
$sand: #E2C58B;
$peach: #FC8990;  
$mutedplum: #B35E7F;
$darkplum: #B529A3;
$pink: #FF126C;
$dkorange: #FA4F23;
$orange: #FB8C21;
$gold: #FFBC01;
$yellow: #FFDD36;
$mainGreen: #84C04D; 


