

.alcoholChoices {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.alcohol-select {
	width: 100%;
	margin-left: 2%;
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}

.choice {
	width: 100%;
		a {
			font-family: 'Kadwa', serif;
			text-decoration: none;
			text-transform: uppercase;
			color: $dkorange;
			font-size: 18px;
			font-weight: 700;
		}
		a:hover {
			color: white;
			background-color: $mainGreen;
			border-radius: 5px;
			padding: 2% 4%;
		}
}

@media (max-width: 1066px) {

	.choice {
		width: 80%;
		padding: 2%;
	}

	.choice a {
		font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
	}
}

@media (max-width: 940px) {


}

@media (max-width: 768px) { 

	.hide {
		display: none;
	}

}