

.alcoholChoices {
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.alcohol-select {
	width: 100%;
	background-color: lemonchiffon;
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}

.choice {
	width: 100%;
	padding-bottom: 2%;
		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $dkorange;
			font-size: 20px;
			font-weight: 400;
		}
}



@media (max-width: 940px) { //green
	
	.choice-container {
	 	width: 25%;
	}
	
	.alcohol-choice {
		padding: 6% 0;
		font-size: 20px;
	}

	.layoutImagesContainer {
		height: 85%;
	}

}

@media (max-width: 768px) { //purple

	.choice-container {
	 	width: 40%;
	}

	.layoutImagesContainer {
		height: 82%;
	}

	.hide {
		display: none;
	}

}